{% extends 'apps/base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Oqim yaratish</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" class="form-class" action="{% url 'create_stream' %}">
                                {% csrf_token %}

                                <input name="product" type="hidden" id="hidden_product" value="test">

                                <input type="text" name="name" class="form-control"
                                       placeholder="Oqim uchun nom kiriting" required="" id="id_name">


                                {#                                Chegirma <input type="text" name="discount" class="form-control"#}
                                {#                                                placeholder="Chegirma miqdori:  so'mgacha" id="id_discount">#}
                                {##}
                                {#                                Qo'shimcha foyda <input type="text" name="additional_benefit" class="form-control"#}
                                {#                                                        placeholder="Qo'shimcha foyda:" id="id_additional_benefit">#}
                                {##}
                                {#                                Pullik dostavka <input type="checkbox" name="paid_delivery" id="id_paid_delivery">#}

                                <input type="submit" class="btn btn-primary mt-4" value="Oqim yaratish">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
                    <div class="modal-content position-relative">
                        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
                            <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body p-0">
                            <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                                <h4 class="mb-1" id="modalExampleDemoLabel">Add a new illustration </h4>
                            </div>
                            <div class="p-4 pb-0">
                                <form method="POST" class="form-class">





                                    <input type="submit" class="btn btn-primary mt-4" value="Oqim yaratish">
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="button">Understood </button>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="container">
                <br>
                <h3 class="text-center" style="color:#2c7be5"> Hozirda sotuvda bor <br> mahsulotlar </h3>
                <br>
                <div class="container border-bottom-4">
                    <div class="header_tab_menu">
                        <div class="header_menu"
                             style="border: 1px solid #2c7be5; border-radius: 20px; margin-right: 5px; padding: 5px; display: inline-block;">
                            <a href="{% url 'market_list' %}" class="btn btn-default"
                               style="color: #2c7be5; text-decoration: none;"> All </a>

                            {% for category in categories %}
                                <div style="border: 1px solid #2c7be5; border-radius: 20px; margin-right: 5px; padding: 5px; display: inline-block;">
                                    <a href="{% url 'market_list' %}?category={{ category.slug }}"
                                       class="btn btn-default"
                                       style="color: {% if category.slug == selected_category_slug %}red{% else %}#2c7be5{% endif %}; text-decoration: none;"> {{ category.name }} </a>
                                </div>
                            {% endfor %}


                        </div>
                    </div>

                </div>

                <br>

                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-4 p-2" style="border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.5);">
                            <div class="card">
                                <a href="{% url 'product_detail' product.slug %}" target="_blank">
                                    {% thumbnail product.first_image.image "250x245" crop="center" as im %}
                                        <img class="rounded-top" src="{{ im.url }}" alt="#">
                                    {% endthumbnail %}
                                </a>
                                <div class="card-body" style="color: #2c7be5;">
                                    <h5 class="card-title">
                                        <a href="/product-detail/izlash-kitobi" target="_blank">
                                            {{ product.name }}
                                        </a>
                                    </h5>
                                    <p class="text-muted" style="color: #2c7be5;"> {{ product.price }} so'm </p>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="color: #2c7be5;">
                                        To'lov:
                                        <strong>30000 </strong></li>

                                    <li class="list-group-item" style="color: #2c7be5;">
                                        Zaxirada:
                                        <strong> {{ product.quantity }} ta </strong>
                                    </li>

                                    <li class="list-group-item" style="color: #2c7be5;">
                                        Chegirma: <strong>yuq </strong>
                                    </li>
                                </ul>

                                <a href="https://t.me/alijahon_uz_Internet_magazin/1426"
                                   class="btn btn-danger text-white mt-2">Advertisement
                                    Post</a>
                                <button class="btn btn-primary btn_open_modal" type="button" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" name="{{ product.id }}">Create Stream
                                </button>
                                <a href="/admin_page/product/417" class="btn btn-danger text-white mt-2">More</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item"><a class="page-link ">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link " href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
            
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>

                {% endif %}


            </ul>
        </nav>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $('.btn_open_modal').on('click', function () {
            let product_id = $(this).attr('name');
            console.log(product_id);
            $('#hidden_product').val(product_id);
        })
    </script>
{% endblock %}
