{% extends 'apps/base.html' %}
{% load thumbnail %}
{% load static %}
{% load humanize %}

{% block style %}
    <style>
        .carousel-item {
            transition: transform 0.1s;
            backface-visibility: hidden;
        }

        .carousel-item.flip {
            transform: rotateY(30deg);
        }
    </style>

{% endblock %}

{% block content %}
    <div class="card mb-3" style="border: 1px solid #4682b4;  background-color: white; border-radius: 30px;">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div role="group" aria-label="2 / 6" style="width: 393px; margin-right: 5px;">
                        <div id="carouselExampleControls{{ product.id }}" class="carousel slide"
                             data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in product.productimage_set.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        {% thumbnail image.image '393x265' crop='center' as thumb %}
                                            <img class="rounded-1 fit-cover h-100 w-100" src="{{ thumb.url }}" alt=""
                                                 style="border-radius: 15px;">
                                        {% endthumbnail %}
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls{{ product.id }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls{{ product.id }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 style="color: black">{{ product.name }}</h5>
                    <a class="fs--1 mb-2 d-block" href="{% url 'product_list' %}?category={{ product.category.slug }}"
                       style="color: #32cd32;">{{ product.category.name }}</a>
                    <p class="fs--1" style="color: black;">{{ product.short_description|safe }}</p>
                    <h4 class="d-flex align-items-center"><span
                            class="text-warning me-2"
                            style="color:#ff4500">{{ price|intcomma }} so'm</span><span
                            class="me-1 fs--1 text-500"></span></h4>
                    {% if product.quantity > 0 %}
                        <p class="fs--1">Stock: <strong class="text-success">Available</strong></p>
                    {% else %}
                        <p class="fs--1">Stock: <strong class="text-danger">Not Available</strong></p>
                    {% endif %}
                    <p class="fs--1">Discount: <strong class="text-warning">{{ product.discount }}</strong></p>
                    <div class="row"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="overflow-hidden mt-4">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link ps-0 active" id="description-tab" data-bs-toggle="tab"
                                   href="#tab-description" role="tab" aria-controls="tab-description"
                                   aria-selected="true" style="color: #4682b4;">Buyurtma berish</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show" id="tab-description" role="tabpanel"
                                 aria-labelledby="description-tab">
                                <table class="table fs--1 mt-3">
                                    <br>
                                    <tbody style="color: black">
                                    {{ product.description|safe }}
                                    </tbody>
                                </table>
                                <br>
                                <h3 style="color: #4682b4;">Buyurtma berish uchun quyidagi malumotlarni to'ldiring!</h3>
                                <br>
                                <form method="post" action="{% url 'order_create' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label" for="formGroupNameInput"
                                               style="color: #4682b4;">Name:</label>
                                        <input class="form-control shadow-sm" required name="name"
                                               id="formGroupNameInput"
                                               type="text" style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                                        <label class="form-label" for="formGroupPhoneInput"
                                               style="color: #4682b4;">Phone:</label>
                                        <input id="phone-mask" required name="phone_number" type="text"
                                               class="form-control shadow-sm"
                                               style="box-shadow: 1px 4px 6px rgba(0, 0, 0, 1);">
                                        <input class="form-control" name="product" type="text" value="{{ product.id }}"
                                               hidden>
                                        <input class="form-control" name="stream" type="text" value="{{ stream_id }}"
                                               hidden>
                                        <br>
                                        <button class="btn btn-primary" type="submit"
                                                style="background-color:#4682b4; border: none;">Buyurtma berish
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var carousels = document.querySelectorAll('.carousel');
            carousels.forEach(function (carousel) {
                var bsCarousel = new bootstrap.Carousel(carousel, {
                    interval: 2000,
                    ride: 'carousel'
                });

                carousel.addEventListener('slide.bs.carousel', function (e) {
                    var activeItem = carousel.querySelector('.carousel-item.active');
                    if (activeItem) {
                        activeItem.classList.remove('flip');
                    }
                    var nextItem = e.relatedTarget;
                    nextItem.classList.add('flip');
                });
            });
        });
    </script>

{% endblock %}





